/* CSS Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --title-font: "Raleway",
        sans-serif;
    --primary-dark-color: #2E2F42;
    --primary-light-color: #FFFFFF;
    --second-light-color: #F4F4FD;
    --third-ligth-color: #E7E9FC;
    --second-primary-color: #2E2F42;
    --color-text: #434455;
    --corp-color: #4D5AE5;
    --corp-color-hover: #404BBF;
}

/* base style */
body {
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--color-text);
    background: var(--primary-light-color);
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style-type: none;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.main-banner-title,
.section-title,
.section-sub-title {
    text-align: center;
}

.section-sub-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--primary-dark-color);

}

.logo {
    font-family: var(--title-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--corp-color);
}

.logo-acent {
    color: var(--primary-dark-color);
}

.button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.main-banner-button {
    background-color: var(--corp-color);
    color: var(--primary-light-color);
    border: none;
    padding: 16px 32px;
}

.button:hover,
.button:focus {
    background-color: var(--corp-color-hover);
}

/* style for header */

.header {
    background-color: var(--primary-light-color);
}

.header-list-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    font-weight: 500;
    color: var(--primary-dark-color);
}

.header-list-item:hover,
.header-list-item:focus {
    color: var(--corp-color-hover);
}

.header-address {
    font-style: inherit;
}

.header-address-item {
    color: var(--color-text);
}

.header-address-item:hover,
.header-address-item:focus {
    color: var(--corp-color-hover);
}


/* style for foter */
.footer {
    background-color: var(--second-primary-color);
    color: var(--second-light-color);
}

/* section main-banner  */
.main-banner {
    background-color: var(--primary-dark-color);
}

.main-banner-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: var(--primary-light-color);
}

/* section contacts */
.contacts {
    background-color: var(--second-light-color);
}

.contacts-item {
    text-align: center;
    background: var(--primary-light-color);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* section portfolio-page */
.portfolio-page-item {
    border: 1px solid var(--third-ligth-color);

}

.portfolio-page-item .section-sub-title {
    text-align: left;
}

.filter-button {
    border: 1px solid var(--third-ligth-color);
    background: var(--second-light-color);
    color: var(--corp-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.filter-button:hover,
.filter-button:focus {
    border: 1px solid var(--corp-color-hover);
    background: var(--corp-color-hover);
    color: var(--third-ligth-color)
}